// imports
@import "../src/grid";

body {
  font-family: sans-serif;
  background-color: #fff;
  background-repeat: repeat-y;
  background-image: url(data:image/gif;base64,R0lGODlhwAMBAIAAAP/////l5SH5BAAHAP8ALAAAAADAAwEAAAI3hI+hy+0Po2yo2jqz3vJ6zIXi9JXAiKaL+amuyHrvrMUXjUe2lffUnvAJgUFhj3gw+pAG5fFTAAA7);
  background-position: center;
}

$columns: 12;
$classSeparator: "-";
$rows: 4;

// build grid
@include grid-system-complete($columns: $columns, $rows: $rows, $rowHeight: 60px, $flush: true);

// demonstration borders
@for $i from 1 through $columns {
  .col#{$classSeparator}#{$i} {
    border: 1px solid #666;
  }
}

@for $n from 1 through ($columns - 1) {
  .push#{$classSeparator}#{$n}, .pull#{$classSeparator}#{$n} {
    border: none;
  }
}

.rowspan {
  border: 1px solid #666;
  @for $n from 1 through $columns {
    .col#{$classSeparator}#{$n} {
      border: none;
      p {
        position: absolute;
        top: 50%;
        margin-top: -16px;
      }
    }
  }
}

// demo typography
p {
  overflow: hidden;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
h1, h2 {
  text-align: center;
}
h2 {
  color: #fff;
  background-color: #262626;
  margin: 30px 0 10px 0;
  padding: 5px;
}
