body {
  font-family: sans-serif;
  background-color: #fff;
  background-repeat: repeat-y;
  background-image: url(data:image/gif;base64,R0lGODlhwAMBAIAAAP/////l5SH5BAAHAP8ALAAAAADAAwEAAAI3hI+hy+0Po2yo2jqz3vJ6zIXi9JXAiKaL+amuyHrvrMUXjUe2lffUnvAJgUFhj3gw+pAG5fFTAAA7);
  background-position: center; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.container-12 {
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1; }
  .container-12:before, .container-12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }
  .container-12 .row {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    overflow: hidden;
    *zoom: 1; }
    .container-12 .row.span-1 {
      height: 60px; }
    .container-12 .row.span-2 {
      height: 120px; }
    .container-12 .row.span-3 {
      height: 180px; }
    .container-12 .row.span-4 {
      height: 240px; }
  .container-12 .rowspan .col-1 {
    height: 100%; }
  .container-12 .rowspan .col-2 {
    height: 100%; }
  .container-12 .rowspan .col-3 {
    height: 100%; }
  .container-12 .rowspan .col-4 {
    height: 100%; }
  .container-12 .rowspan .col-5 {
    height: 100%; }
  .container-12 .rowspan .col-6 {
    height: 100%; }
  .container-12 .rowspan .col-7 {
    height: 100%; }
  .container-12 .rowspan .col-8 {
    height: 100%; }
  .container-12 .rowspan .col-9 {
    height: 100%; }
  .container-12 .rowspan .col-10 {
    height: 100%; }
  .container-12 .rowspan .col-11 {
    height: 100%; }
  .container-12 .rowspan .col-12 {
    height: 100%; }
  .container-12 .leading-1 {
    margin-bottom: 4px; }
  .container-12 .leading-2 {
    margin-bottom: 8px; }
  .container-12 .leading-3 {
    margin-bottom: 12px; }
  .container-12 .leading-4 {
    margin-bottom: 16px; }
  .container-12 .leading-5 {
    margin-bottom: 20px; }
  .container-12 .leading-6 {
    margin-bottom: 24px; }
  .container-12 .leading-7 {
    margin-bottom: 28px; }
  .container-12 .leading-8 {
    margin-bottom: 32px; }
  .container-12 .leading-9 {
    margin-bottom: 36px; }
  .container-12 .leading-10 {
    margin-bottom: 40px; }
  .container-12 .leading-11 {
    margin-bottom: 44px; }
  .container-12 .leading-12 {
    margin-bottom: 48px; }
  .container-12 .col-1 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-1.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-2 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-2.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-3 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-3.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-4 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-4.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-5 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-5.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-6 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-6.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-7 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-7.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-8 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-8.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-9 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-9.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-10 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-10.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-11 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-11.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative; }
    .container-12 .col-12.flush {
      margin-left: 0;
      margin-right: 0; }
  .container-12 .col-1 {
    width: 60px; }
    .container-12 .col-1.flush {
      width: 80px; }
  .container-12 .col-2 {
    width: 140px; }
    .container-12 .col-2.flush {
      width: 160px; }
  .container-12 .col-3 {
    width: 220px; }
    .container-12 .col-3.flush {
      width: 240px; }
  .container-12 .col-4 {
    width: 300px; }
    .container-12 .col-4.flush {
      width: 320px; }
  .container-12 .col-5 {
    width: 380px; }
    .container-12 .col-5.flush {
      width: 400px; }
  .container-12 .col-6 {
    width: 460px; }
    .container-12 .col-6.flush {
      width: 480px; }
  .container-12 .col-7 {
    width: 540px; }
    .container-12 .col-7.flush {
      width: 560px; }
  .container-12 .col-8 {
    width: 620px; }
    .container-12 .col-8.flush {
      width: 640px; }
  .container-12 .col-9 {
    width: 700px; }
    .container-12 .col-9.flush {
      width: 720px; }
  .container-12 .col-10 {
    width: 780px; }
    .container-12 .col-10.flush {
      width: 800px; }
  .container-12 .col-11 {
    width: 860px; }
    .container-12 .col-11.flush {
      width: 880px; }
  .container-12 .col-12 {
    width: 940px; }
    .container-12 .col-12.flush {
      width: 960px; }
  .container-12 .prefix-1 {
    margin-left: 90px; }
    .container-12 .prefix-1.flush {
      margin-left: 80px; }
  .container-12 .prefix-2 {
    margin-left: 170px; }
    .container-12 .prefix-2.flush {
      margin-left: 160px; }
  .container-12 .prefix-3 {
    margin-left: 250px; }
    .container-12 .prefix-3.flush {
      margin-left: 240px; }
  .container-12 .prefix-4 {
    margin-left: 330px; }
    .container-12 .prefix-4.flush {
      margin-left: 320px; }
  .container-12 .prefix-5 {
    margin-left: 410px; }
    .container-12 .prefix-5.flush {
      margin-left: 400px; }
  .container-12 .prefix-6 {
    margin-left: 490px; }
    .container-12 .prefix-6.flush {
      margin-left: 480px; }
  .container-12 .prefix-7 {
    margin-left: 570px; }
    .container-12 .prefix-7.flush {
      margin-left: 560px; }
  .container-12 .prefix-8 {
    margin-left: 650px; }
    .container-12 .prefix-8.flush {
      margin-left: 640px; }
  .container-12 .prefix-9 {
    margin-left: 730px; }
    .container-12 .prefix-9.flush {
      margin-left: 720px; }
  .container-12 .prefix-10 {
    margin-left: 810px; }
    .container-12 .prefix-10.flush {
      margin-left: 800px; }
  .container-12 .prefix-11 {
    margin-left: 890px; }
    .container-12 .prefix-11.flush {
      margin-left: 880px; }
  .container-12 .suffix-1 {
    margin-right: 90px; }
    .container-12 .suffix-1.flush {
      margin-right: 80px; }
  .container-12 .suffix-2 {
    margin-right: 170px; }
    .container-12 .suffix-2.flush {
      margin-right: 160px; }
  .container-12 .suffix-3 {
    margin-right: 250px; }
    .container-12 .suffix-3.flush {
      margin-right: 240px; }
  .container-12 .suffix-4 {
    margin-right: 330px; }
    .container-12 .suffix-4.flush {
      margin-right: 320px; }
  .container-12 .suffix-5 {
    margin-right: 410px; }
    .container-12 .suffix-5.flush {
      margin-right: 400px; }
  .container-12 .suffix-6 {
    margin-right: 490px; }
    .container-12 .suffix-6.flush {
      margin-right: 480px; }
  .container-12 .suffix-7 {
    margin-right: 570px; }
    .container-12 .suffix-7.flush {
      margin-right: 560px; }
  .container-12 .suffix-8 {
    margin-right: 650px; }
    .container-12 .suffix-8.flush {
      margin-right: 640px; }
  .container-12 .suffix-9 {
    margin-right: 730px; }
    .container-12 .suffix-9.flush {
      margin-right: 720px; }
  .container-12 .suffix-10 {
    margin-right: 810px; }
    .container-12 .suffix-10.flush {
      margin-right: 800px; }
  .container-12 .suffix-11 {
    margin-right: 890px; }
    .container-12 .suffix-11.flush {
      margin-right: 880px; }
  .container-12 .alpha {
    margin-left: 0; }
  .container-12 .omega {
    margin-right: 0; }
  .container-12 .push-1, .container-12 .pull-1 {
    position: relative; }
  .container-12 .push-2, .container-12 .pull-2 {
    position: relative; }
  .container-12 .push-3, .container-12 .pull-3 {
    position: relative; }
  .container-12 .push-4, .container-12 .pull-4 {
    position: relative; }
  .container-12 .push-5, .container-12 .pull-5 {
    position: relative; }
  .container-12 .push-6, .container-12 .pull-6 {
    position: relative; }
  .container-12 .push-7, .container-12 .pull-7 {
    position: relative; }
  .container-12 .push-8, .container-12 .pull-8 {
    position: relative; }
  .container-12 .push-9, .container-12 .pull-9 {
    position: relative; }
  .container-12 .push-10, .container-12 .pull-10 {
    position: relative; }
  .container-12 .push-11, .container-12 .pull-11 {
    position: relative; }
  .container-12 .push-1 {
    left: 80px; }
  .container-12 .pull-1 {
    left: -80px; }
  .container-12 .push-2 {
    left: 160px; }
  .container-12 .pull-2 {
    left: -160px; }
  .container-12 .push-3 {
    left: 240px; }
  .container-12 .pull-3 {
    left: -240px; }
  .container-12 .push-4 {
    left: 320px; }
  .container-12 .pull-4 {
    left: -320px; }
  .container-12 .push-5 {
    left: 400px; }
  .container-12 .pull-5 {
    left: -400px; }
  .container-12 .push-6 {
    left: 480px; }
  .container-12 .pull-6 {
    left: -480px; }
  .container-12 .push-7 {
    left: 560px; }
  .container-12 .pull-7 {
    left: -560px; }
  .container-12 .push-8 {
    left: 640px; }
  .container-12 .pull-8 {
    left: -640px; }
  .container-12 .push-9 {
    left: 720px; }
  .container-12 .pull-9 {
    left: -720px; }
  .container-12 .push-10 {
    left: 800px; }
  .container-12 .pull-10 {
    left: -800px; }
  .container-12 .push-11 {
    left: 880px; }
  .container-12 .pull-11 {
    left: -880px; }

.col-1 {
  border: 1px solid #666; }

.col-2 {
  border: 1px solid #666; }

.col-3 {
  border: 1px solid #666; }

.col-4 {
  border: 1px solid #666; }

.col-5 {
  border: 1px solid #666; }

.col-6 {
  border: 1px solid #666; }

.col-7 {
  border: 1px solid #666; }

.col-8 {
  border: 1px solid #666; }

.col-9 {
  border: 1px solid #666; }

.col-10 {
  border: 1px solid #666; }

.col-11 {
  border: 1px solid #666; }

.col-12 {
  border: 1px solid #666; }

.push-1, .pull-1 {
  border: none; }

.push-2, .pull-2 {
  border: none; }

.push-3, .pull-3 {
  border: none; }

.push-4, .pull-4 {
  border: none; }

.push-5, .pull-5 {
  border: none; }

.push-6, .pull-6 {
  border: none; }

.push-7, .pull-7 {
  border: none; }

.push-8, .pull-8 {
  border: none; }

.push-9, .pull-9 {
  border: none; }

.push-10, .pull-10 {
  border: none; }

.push-11, .pull-11 {
  border: none; }

.rowspan {
  border: 1px solid #666; }
  .rowspan .col-1 {
    border: none; }
    .rowspan .col-1 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-2 {
    border: none; }
    .rowspan .col-2 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-3 {
    border: none; }
    .rowspan .col-3 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-4 {
    border: none; }
    .rowspan .col-4 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-5 {
    border: none; }
    .rowspan .col-5 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-6 {
    border: none; }
    .rowspan .col-6 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-7 {
    border: none; }
    .rowspan .col-7 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-8 {
    border: none; }
    .rowspan .col-8 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-9 {
    border: none; }
    .rowspan .col-9 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-10 {
    border: none; }
    .rowspan .col-10 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-11 {
    border: none; }
    .rowspan .col-11 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .rowspan .col-12 {
    border: none; }
    .rowspan .col-12 p {
      position: absolute;
      top: 50%;
      margin-top: -16px; }

p {
  overflow: hidden;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h1, h2 {
  text-align: center; }

h2 {
  color: #fff;
  background-color: #262626;
  margin: 30px 0 10px 0;
  padding: 5px; }
